.notification {
    position: "relative";
    display: inline-flex;
    margin-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}
.user {
    position: "relative";
    display: inline-flex;
    margin-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.userIcon {
    position: "relative";
    display: inline-flex;
    height: "100px";
    width: fit-content;
    margin-top: 50px;
    background-color: #282c34;
}
.notificationIcon {
    position: "relative";
    display: inline-flex;
    width: fit-content;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #282c34;
}
.userIconSection {
    position: relative;
    width: fit-content;
    display: inline-flex;
    width: fit-content;
    background-color: #282c34;
}
.notificationIconSection {
    position: relative;
    width: fit-content;
    display: inline-flex;
    background-color: #282c34;
    margin-left: auto;
    margin-right: auto;


}
.notificationsBox {
    display: block;
    box-shadow: 2px 3px 17px -3px #8888888c;
    padding: 15px;
    z-index: 1;
    background: #f4f4f4;
    color: initial;
    margin-left: auto;
    margin-right: auto;
}
.usersBox {
    display: block;
    box-shadow: 2px 3px 17px -3px #8888888c;
    padding: 15px;
    z-index: 1;
    background: #f4f4f4;
    color: initial;
}
.lineItmes {
    padding: 5px;
    margin-bottom: 5px;
    background: #fff;
    padding: 5px;
}

.lineItmes:hover {
    background: royalblue;
}

.iconBadge {
    background: red;
    width: 22px;
    display: block;
    text-align: center;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    right: 0;
    bottom: 13px;
    left: 12px;
    margin-left: auto;
    margin-right: auto;
}

.Badge {
    background: red;
    width: 22px;
    display: block;
    text-align: center;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    right: 0;
    bottom: 13px;
    left: 12px;
    margin-left: auto;
    margin-right: auto;
}